<!-- <p id="notice"><%= notice %></p> -->

<%= render partial: "posts/more" %>

    
<div class="panel panel-default col-md-offset-3 col-md-6">
    

<div class="center">
<%= will_paginate @posts, :previous_label => 'Poprzedni', :next_label => 'Następny',  renderer: BootstrapPagination::Rails %>

</div>

</div>
</div>


