/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *
 *
 */

$panel-bg: #e7e7e7; 
@import "bootstrap-sprockets";
@import "bootstrap";
@import "chosen";
@import "bootstrap-chosen";


h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}
img {
    display: block;
    margin: auto;
 }
.center{
	text-align: center;
}
.left{
	text-align: left;
}
.right{
  text-align: right;
}
.avatar-image{
	border-radius: 50%;
}
img {
    max-width: 100%;
    height: auto;
}
.comments-header {
  margin-bottom: 10px;
}

.comments-container {
  p {
    margin-bottom: 0px;
  }
  .comment-nav {
    margin-left: 5px;
    margin-bottom: 10px;

    a {
      font-size: 10px;
      font-weight: bold;
      color: #888;
    }
  }
}

.reply-form {
  display: none;
}

.comments-show {
  margin-left: 25px;
}
#GlownaSec
{
  display: none;
}
#PoczekalniaSec
{
  display: none;
}
#CommentSec
{
  display: none;
}
#UlubioneSec
{
  display: none;
}
.komentarz
{
  background-color: #C0C0C0;
}
.odpowiedz
{
 background-color: #DCDCDC; 
}
.blue
{
  color:blue;
  font-size:300%;
}
.red
{
  color:red;
}